# Manipulación de datos
pandas>=1.5
polars>=0.20
pyspark>=3.4
numpy>=1.23

# Machine Learning
scipy>=1.10
scikit-learn>=1.2
mlflow>=2.3

# Visualización de datos
matplotlib>=3.7
seaborn>=0.12

# Deep Learning
torch>=2.0
